:root {
  --primary-color: #1c86c4a9; /* forest green */
  --secondary-color: #f4a261; /* warm sand */
  --accent1-color: #264653; /* dark slate blue */
  --accent2-color: #d6e415; /* light golden yellow */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
} 

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
  }

  header img {
  float: right;
  width: 90px;
  height: 90px;
  border: 2px solid #ccc;       
  border-radius: 8px;         
  margin: 0 0 10px 15px;   
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  display: block;  
}

.option {
    display: flex;
    list-style: none;
}

.option li {
    flex: 1 1 auto;
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

   
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
} 

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
} 

nav, p, section, article {
  margin: 16px;
  padding: 8px;
} 

.socialmedia a {
    text-decoration: none;
} 

.hero {
  position: relative;
} 

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }  

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff; 
} 

.hero article {
  position: absolute;
  top: 85px;
  width: 96%;
  padding: 16px 16px 7px 16px;
  text-align: center;
  opacity: 0.9;
  background-color: var(--accent1-color);
  color: #ffffff; 
} 

.hero article img {
  float: right;
  width: 90px;
  border: 2px solid #ccc;       
  border-radius: 8px;         
  margin: 0 0 10px 15px;   
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
  display: block;  
}